data/sky_cloud_segmentation/models/deeplabv3resnet101_ranger_pretrained.pth filter=lfs diff=lfs merge=lfs -text
data/sky_ground_segmentation/models/deeplabv3mobilenetv3large_ranger_pretrained.pth filter=lfs diff=lfs merge=lfs -text
data/sky_ground_segmentation/models/deeplabv3resnet101_ranger_pretrained.pth filter=lfs diff=lfs merge=lfs -text
